<section>
    <mat-card>
        <mat-card-title>{{pageTitle + ': ' + product?.name}}</mat-card-title>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>hello</p>

        </mat-card-content>
    </mat-card>
</section>
<section>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile><img [src]="product?.imageUrl"></mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list">
                <mat-list-item role="listitem">{{product?.name}}</mat-list-item>
                <mat-list-item role="listitem">{{product?.id}}</mat-list-item>
                <mat-list-item role="listitem">{{product?.price}}</mat-list-item>
                <mat-list-item role="listitem">{{product?.available}}</mat-list-item>
                <mat-list-item role="listitem">{{product?.rating}}</mat-list-item>              
              </mat-list>
        </mat-grid-tile>
    </mat-grid-list>    
</section>
